<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d8c11825-c865-485c-a10c-0303f8558764/resourceGroups/sqlapiaa.rg/providers/Microsoft.Web/sites/tigerapi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tigerapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f47446c7-b830-4bb1-abe8-25bff70697d8</ProjectGuid>
    <PublishUrl>https://tigerapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$tigerapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>